:root {
  --inputborder: #ccc;
  --btnprimarybg: #202142;
  --btnsecondarybg: rgb(14 165 233);
  --textdark: #333;
  --white: #fff;
  --radiobg: #f4f4f4;
  --radioborder: #eee;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.inputgroup {
  display: flex;
  flex-direction: row;
  border: .0625rem solid var(--inputborder);
  padding: .5rem .625rem;
  border-radius: .5rem;
}

.inputgroup .inputfield {
  flex-grow: 2;
  border: none;
  font-size: 1rem;
}

.inputgroup .inputfield:focus {
  outline: none;
}

.btn {
  color: var(--white);
  border: 0;
  border-radius: .5rem;
  width: 6.25rem;
  height: 2.5rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--btnprimarybg);
}

.btn-secondary {
  background: var(--btnsecondarybg);
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: var(--inputborder);
  color: var(--textdark);
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.close,
.edit {
  position: absolute;
  top: .625rem;
  right: 1.25rem;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 2.5rem;
}

.errormessage {
  padding-top: .625rem;
  text-align: center;
  color: rebeccapurple;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.875rem 0 2.5rem;
}

.rating li label {
  position: relative;
  background: var(--radiobg);
  border: solid .0625rem var(--radioborder);
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1875rem;
  width: 3rem;
  height: 3rem;
  padding: .625rem;
  text-align: center;
  transition: 0.3s;
}

[type='radio']:checked ~ label {
  background: var(--btnsecondarybg);
  color: var(--white);
}

@media (max-width: 37.5rem) {
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0 1.5rem;
    gap: .625rem;
  }

  .rating li label {
    font-size: 1rem;
  }

  .inputgroup  .inputfield {
    width: 80%;
  }
}